/*General styles*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
}

.mrw-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.mrw-align-center {
  align-items: center;
}

/*Header*/

header nav {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  padding: 10px 0;
}

header nav ul.mrw-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

header nav ul.mrw-navigation li a {
  display: block;
  padding: 0 16px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

header nav ul.mrw-navigation li a:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header nav ul.mrw-navigation li a:hover:after {
  width: 100%;
  opacity: 1;
}

header nav ul.mrw-navigation li:last-child a {
  padding-right: 0;
}

.mrw-main-banner {
  display: block;
  width: 100%;
}

/*Logo*/

.mrw-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  color: #fff;
  font-size: 26px;
  border: solid 2px #fff;
  border-radius: 30%;
}
